.app-header {
  background-color: #ECECEC;
}

.app-header .logo {
  max-width: 300px;
  margin: auto;
  display: block;
}

.main {
  margin: 1em;
}

/* Stop images overflowing */
img {
  max-width: 100%;
}

#toast-container > div {
  opacity: 1;
}